<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kocofarm.mapper.comm.AttachFileMapper">

	<!-- 파일 첨부 -->

<insert id="insert">

	insert into files (FileName, FilePath, Uuid, image, bno)
	value (#{fileName}, #{filePath}, #{uuid}, #{image}, #{bno})

</insert>

<delete id="delete">

	delete from attach_file where uuid = #{uuid}
	
</delete>

<select id="findByBno" parameterType="org.kocofarm.domain.fileRoom.AttachFileVO">

	select *
	from file
	where bno = #{bno}

</select>

</mapper>