<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 컬럼명 카멜 표기법 자동 변환 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- 스케쥴 -->
		<typeAlias type="org.kocofarm.domain.schedule.ScheduleProject" alias="ScheduleProject" />
		<typeAlias type="org.kocofarm.domain.schedule.ScheduleCategory" alias="ScheduleCategory" />	
		<typeAlias type="org.kocofarm.domain.schedule.ScheduleCalender" alias="ScheduleCalender" />
		<typeAlias type="org.kocofarm.domain.schedule.ScheduleCalenderList" alias="ScheduleCalenderList" />
		<typeAlias type="org.kocofarm.domain.schedule.ScheduleCalenderMove" alias="ScheduleCalenderMove" />
		<typeAlias type="org.kocofarm.domain.schedule.ScheduleCategoryMove" alias="ScheduleCategoryMove" />
	</typeAliases>
</configuration>