<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kocofarm.mapper.module.ApprovalMapper">

	<!-- ****************************** 조회 ****************************** -->
	<!-- 전체 기안서 불러오기 -->
	<select id="getDraftList" resultType="org.kocofarm.domain.approval.ApprDraftVO">
		select draft_id as draftId,
		draft_name as draftName,
		draft_dt as draftDt,
		draft_title as draftTitle,
		emp_id as empId,
		draft_year as draftYear,
		form_id as formId,
		approve_state as approveState
		from draft
	</select>

	<!-- 전체 양식 불러오기 -->
	<select id="getFormList" resultType="org.kocofarm.domain.approval.ApprFormVO">
		select form_id as formId,
		sort_id as sortId,
		mode_id as modeId,
		sort_name as sortName,
		mode_name as modeName
		from form
	</select>

	<!-- 최근 기안서 번호 불러오기 -->
	<select id="getDraftNo" resultType="Integer">
		select draft_id as draftId
		from draft
		where ROWNUM = 1
		order by draft_id DESC
	</select>

	<!-- 특정 기안서 불러오기 -->
	<select id="getDraft" resultType="org.kocofarm.domain.approval.ApprDraftVO">
		select draft_id as draftId,
		draft_name as draftName,
		draft_dt as draftDt,
		draft_title as draftTitle,
		emp_id as empId,
		draft_year as draftYear,
		form_id as formId,
		approve_state as approveState
		from draft
		where draft_id = #{draftId}
	</select>

	<!-- 지출결의서 정보 불러오기 -->
	<select id="getExpence" resultType="org.kocofarm.domain.approval.ApprExpenceVO">
		select expence_id as expenceId,
		draft_id as draftId,
		form_id as draftId,
		expence_dt as expenceDt,
		expence_type as expenceType,
		sum_price as sumPrice
		from expence_form
		where draft_id = #{draftId}
	</select>

	<!-- 지출 결의서 내역 불러오기 -->
	<select id="getExpenceCont" resultType="org.kocofarm.domain.approval.ApprExpenceContVO">
		select expence_id as expenceId,
		cont_seq as contSeq,
		customer_name as customerName,
		expence_price as expencePrice,
		commission_option as commissionOption,
		commission_price as commissionPrice
		from expence_cont
		where expence_id = #{expenceId}
	</select>

	<!-- 휴가 신청서 정보 불러오기 -->
	<select id="getVacation" resultType="org.kocofarm.domain.approval.ApprVacationVO">
		select vacation_id as vacationId,
		draft_id as draftId,
		form_id as formId,
		vacation_start_dt as vacationStartDt,
		vacation_end_dt as vacationEndDt,
		vacation_type as vacationType,
		vacation_days as vacationDays,
		vacation_reason as vacationReason,
		replacement_id as replacementId
		from vacation_form
		where draft_id = #{draftId}
	</select>

	<!-- ****************************** 입력 ****************************** -->

	<!-- 기본 기안서 정보 입력하기 -->
	<insert id="setDraft" parameterType="org.kocofarm.domain.approval.ApprDraftVO">
		insert into draft
		(draft_id,draft_name,draft_Dt,draft_title,emp_id,draft_year,form_id,approve_state)
		values
		(seq_draft.nextval,#{draftName},#{draftDt},#{draftTitle},#{empId},#{draftYear},#{formId},#{approveState})
	</insert>

	<!-- 휴가 신청서 입력 -->
	<insert id="setVacation" parameterType="org.kocofarm.domain.approval.ApprVacationVO">
		insert into vacation_form
		values(seq_vacation.nextval,${draftId},${formId},SYSDATE,SYSDATE,#{vacationType},#{vacationDays},#{vacationReason},#{replacementId})
	</insert>

	<!-- 지출 결의서 입력 -->
	<insert id="setExpence" parameterType="org.kocofarm.domain.approval.ApprExpenceVO">
		insert into expence_form
		values(seq_expence.nextval,${draftId},${formId},SYSDATE,#{expenceType},#{sumPrice},#{contId})
	</insert>

	<!-- 지출 내역 입력 -->
	<insert id="setExpenceCont" parameterType="org.kocofarm.domain.approval.ApprExpenceContVO">
		insert into expence_cont
		values(${expenceId},#{contSeq},#{customerName},#{expencePrice},#{commissionOption},#{commissionPrice})
	</insert>

	<!-- ****************************** 수정 ****************************** -->

	<!-- 기본 기안서 정보 수정 -->
	<update id="setUpDraft" parameterType="org.kocofarm.domain.approval.ApprDraftVO">
		update DRAFT
		set draft_title = #{draftTitle} ,
		draft_dt = SYSDATE,
		draft_year = #{draftYear}
		where draft_id = #{draftId}
	</update>

	<!-- 휴가 신청서 정보 수정 -->
	<update id="setUpVacation" parameterType="org.kocofarm.domain.approval.ApprVacationVO">
		update vacation_form
		set vacation_type = #{vacationType},
		vacation_start_dt = #{vacationStartDt},
		vacation_end_dt = #{vacationEndDt},
		vacation_days = #{vacationDays},
		vacation_reason = #{vacationReason},
		replacement_id = #{replacementId}

		where draft_id = #{draftId}
	</update>

	<!-- 지출 결의서 정보 수정 -->
	<update id="setUpExpence" parameterType="org.kocofarm.domain.approval.ApprExpenceVO">
		update expence_form 
		set expence_dt = SYSDATE , 
		expence_type = #{expenceType},
		sum_price = #{sumPrice}
		where expence_id = #{expenceId}
	</update>
	<!-- 지출 결의서 내역 수정 -->
	<update id="setUpExpenceCont" parameterType="org.kocofarm.domain.approval.ApprExpenceContVO">
		update expence_cont set
		customer_name = #{customerName},
		expence_price = #{expencePrice},
		commission_option = #{commissionOption},
		commission_price = #{commissionPrice}
		where expence_id = #{expenceId}  
	</update>
	
	<!-- ****************************** 삭제 ****************************** -->

	<!-- 기본 기안서 정보 삭제 -->
	<delete id="delDraft" parameterType="int">
		delete
		from draft
		where draft_id = #{draftId}
	</delete>

	<!-- 휴가신청서 정보 삭제 -->
	<delete id="delVacation" parameterType="int">
		delete
		from vacation_form
		where draft_id = #{draftId}
	</delete>

	<!-- 지출 결의서 정보 삭제 -->
	<delete id="delExpence" parameterType="int">
		delete
		from Expence_form
		where draft_id = #{draftId}
	</delete>


</mapper>
   