<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.oeg.dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kocofarm.mapper.module.CarResMapper">

<!-- 목록 -->
<select id = "getCarResList" resultType = "org.kocofarm.domain.rentCar.CarResVO">
<![CDATA[
		select  *
		from CAR_RES		
	]]>

</select>

<!-- 예약 등록 -->
<insert id = "setCarRes">
	INSERT INTO CAR_RES
		(RES_ID, WRITER, RES_USER, CAR_ID, PURPOSE, ST_ADDR, DE_ADDR, ST_ DATE, EN_DATE, ST_TIME, EN_TIME, REG_DT)
		
	VALUES(CAR_RES_SEQ.NEXTVAL, #{resWriter}, #{resUser}, #{carId},
				#{purpose},  #{stAddr}, #{deAddr}, #{stDate}, #{enDate}, #{stTime}, #{enTime}, sysdate )

</insert>


</mapper>