<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.oeg.dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kocofarm.mapper.module.CarResMapper">

<select id = "getCarResList" resultType = "org.kocofarm.domain.rentCar.CarResVO">
<![CDATA[
		select  *
		from CAR_RES		
	]]>

</select>


</mapper>