<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.oeg.dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kocofarm.mapper.module.MeetingRoomMapper">

	<select id="getMroomList" resultType="org.kocofarm.domain.meetingRoom.MeetingRoomVO">
		<![CDATA[
		select m_id AS mId,
		m_name AS mName,
		p_num AS pNum,
		reg_dt AS regDt,
		up_dt AS upDt
		from meetingroom where m_id > 0
		]]>
	</select>

	<insert id="setMroom">
		insert into meetingroom (m_id, m_name, p_num, reg_dt)
		values(#{mId}, #{mName}, #{pNum}, sysdate)
	</insert>

	<!-- <insert id="insertSelectKey"> <selectKey keyProperty="mId" order="BEFORE" 
		resultType="int"> select m_id AS mId from dual </selectKey> insert into meetingroom 
		(m_id, m_name, p_num, reg_dt) values(#{mId}, #{mName}, #{pNum}, sysdate) 
		</insert> -->

	<select id="getMroom" resultType="org.kocofarm.domain.meetingRoom.MeetingRoomVO">
		select
		m_id AS mId,
		m_name AS mName,
		p_num AS pNum,
		reg_dt AS regDt,
		up_dt AS upDt
		from meetingroom where m_id = #{mId}
	</select>

	<delete id="delMroom">
		delete meetingroom where m_id = #{mId}
	</delete>

	<update id="setUpMroom">
		update meetingroom
		set
		m_id = #{mId},
		m_name = #{mName},
		p_num = #{pNum},
		up_dt = sysdate
		where m_id = #{mId}
	</update>

	<!-- 회의실 번호 확인 -->
	<select id="getIdChk" resultType="org.kocofarm.domain.meetingRoom.MeetingRoomVO">
		select m_id AS mId
		 from meetingroom
		where m_id= #{mId}
	</select>
</mapper>