<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kocofarm.mapper.module.MessageMapper">

<!-- 메시지 룸 조회 -->
<select id="getMessageRoomList" parameterType="String" resultType="MessageRoomListVO">
	select
	room.message_room_id, room.room_title, push.emp_id, room.last_message, room.last_message_emp_id, room.last_message_date
	from message_room room
	join message_push push
	on room.message_room_id = push.message_room_id
	and push.emp_id = #{empId}
</select>

<!-- 신규 메시지 룸 생성 -->
<insert id="setMessageRoom" parameterType="MessageRoomVO">
	<selectKey keyProperty="messageRoomId" resultType="integer" order="BEFORE">
		select message_room_id_seq.nextval FROM DUAL
	</selectKey>
	insert into
	message_room(message_room_id, room_title)
	values(#{messageRoomId}, #{roomTitle})
</insert>

<!-- 신규 메시지 룸 생성 시 참여자 추가-->
<insert id="setMessagePush" parameterType="MessagePushVO">
	insert into
	message_push(message_push_id, message_room_id, emp_id)
	values(message_push_id_seq.nextval, #{messageRoomId}, #{empId})
</insert>

<!-- 메시지 룸에 따른 대화 가져오기 최근 대화 50개, 파일 처리 할 것 -->
<select id="getMessageList" parameterType="int" resultType="MessageVO">
	/*+ INDEX_ASC(project MESSAGE_ID_PK) */
	select m.message_id, m.message_room_id, m.contents, m.dt, e.emp_id, e.kor_nm, emp_img, m.type from message m
	join emp e
	on m.emp_id = e.emp_id
	and m.message_room_id = #{roomId}
</select>

<!-- 메시지 추가 -->
<insert id="setMessage" parameterType="MessageVO">
	insert into
	message(message_id, message_room_id, emp_id, contents, dt, type)
	values(message_room_id_seq.nextval, #{messageRoomId}, #{empId}, #{contents}, TO_DATE(#{dateString}, 'yyyyMMddHH24miss'), #{type})
</insert>

<!-- 메시지방의 참여 유저인지 확인 -->
<select id="getEmpMessageRoom" parameterType="MessagePushVO" resultType="MessagePushVO">
select * from message_push
where emp_id = #{empId} AND message_room_id = #{messageRoomId} 
</select>

<!-- 메시지 룸 참여자인지 확인 getEmpMessageRoom 방식으로는 많은 유저를 체크하기 적합x -->
<select id="getMessageRoomEmpList" parameterType="int" resultType="String">
select emp_id from message_push
where message_room_id = #{messageRoomId}
</select>

<!-- 메시지 방 나가기 -->
<delete id="delMessagePush" parameterType="MessagePushVO">
	delete from message_push
	where message_room_id = #{messageRoomId} and emp_id = #{empId}
</delete>
</mapper>