<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.oeg.dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kocofarm.mapper.module.RentCarMapper">

<!-- Basic -->
<sql id = "basic">
	CAR_ID AS carId, <!-- DB 명 // VO 명 -->
	MODELNAME AS modelName,
	CARMODEL AS carModel,
	CONDITION AS condition,
	PRICE AS price,
	YEAR AS year,
	OIL_TYPE AS oilType,
	TO_CHAR(REG_DT, 'yyyy-MM-dd') AS regDt,
	TO_CHAR(UP_DT, 'yyyy-MM-dd') AS upDt
</sql>



<!-- 목록보기 -->
   <select id="getRentCarDetailList" resultType="org.kocofarm.domain.rentCar.RentCarVO">
	<![CDATA[
		select  		
	]]>
	
	<include refid = "basic"></include>
	
	<![CDATA[
		
		from RENTCAR_DETAIL 
	]]>
</select>  

<!-- 등록 -->
<insert id ="setRentCarDetail">
	insert into RENTCAR_DETAIL
				(CAR_ID,MODELNAME, CARMODEL, CONDITION, PRICE, YEAR, OIL_TYPE, REG_DT)
		values
				(#{carId, jdbcType=VARCHAR}, #{modelName, jdbcType=VARCHAR}, #{carModel, jdbcType=VARCHAR},
				#{condition, jdbcType=VARCHAR}, #{price}, #{year}, #{oilType, jdbcType=VARCHAR},sysdate)

</insert> 

<!-- 조회 -->
<select id = "getRentCarDetail" resultType="org.kocofarm.domain.rentCar.RentCarVO">
	
	<![CDATA[
		select  		
	]]>
	
	<include refid = "basic"></include>
	
	<![CDATA[		
		from RENTCAR_DETAIL
		where CAR_ID = #{carId}
	]]>
</select>

<!-- 삭제 -->
<delete id = "delRentCarDetail">
	delete RENTCAR_DETAIL
	where CAR_ID = #{carId}
</delete>

<!-- 수정 -->
<update id = "setUpRentCarDetail">
update RENTCAR_DETAIL
		set 
			car_id = #{carId, jdbcType=VARCHAR},
			modelName = #{modelName, jdbcType=VARCHAR},
			carModel = #{carModel, jdbcType=VARCHAR},
			condition = #{condition, jdbcType=VARCHAR},
			price = #{price},
			year = #{year},
			oil_Type = #{oilType, jdbcType=VARCHAR},
			UP_DT = sysdate
		where car_id = #{carId, jdbcType=VARCHAR}

</update>



<!-- 페이징 처리  sql문 -->
<sql id = "criteria">
	<trim prefix = "(" suffix = ") AND" prefixOverrides = "OR">
		<foreach item = "type" collection = "typeArr">
			<trim prefix = "OR">
				<choose>
					<when test = "type == 'I'.toString()" ><!-- 차량번호 -->
						CAR_ID like '%' || #{keyword} || '%'
					</when>
					<when test = "type == 'M'.toString()" ><!-- 차량모델명 -->
						MODELNAME like '%' || #{keyword} || '%'
					</when>						
				</choose>			
			</trim>				
		</foreach>	
	</trim>
</sql>

<!-- 페이징처리 -->
<select id = "getListWithPaging" resultType="org.kocofarm.domain.rentCar.RentCarVO">
	<![CDATA[
	SELECT	
	]]>
	<include refid = "basic"></include>
	<![CDATA[
		FROM 
			(
			SELECT /*+INDEX_ASC(RENCAR_DETAIL SYS_C007193)*/
			rownum rn, CAR_ID,MODELNAME,CARMODEL, CONDITION, PRICE, YEAR, OIL_TYPE, REG_DT, UP_DT
			
			FROM RENTCAR_DETAIL			
			WHERE 
	]]>	
	
	<include refid = "criteria"></include>
		
	<![CDATA[				
			ROWNUM <= #{pageNum} * #{amount}
			ORDER BY CAR_ID ASC
			)			
		WHERE RN> (#{pageNum} -1 ) * #{amount}
	]]>
</select>

<!-- 글 갯수 -->
<select id = "getTotalCount" resultType = "int">
SELECT COUNT(*)
FROM RENTCAR_DETAIL
WHERE

<include refid = "criteria"></include>

 PRICE>0
</select>

<!-- 차량번호 중복확인 -->
<select id = "getcarIdChk" resultType = "org.kocofarm.domain.rentCar.RentCarVO">
SELECT CAR_ID AS carId
FROM RENTCAR_DETAIL
WHERE CAR_ID = #{carId}
</select>


</mapper>