

div.draft_wrap{padding:30px 30px 0 30px;border:1px solid #ddd;position:relative;border-radius:5px;margin-bottom:40px}
div.draft_wrap p.basic_info{font-size:18px;font-weight:bold}
div.inf_wrap{padding:20px 30px;height:38px;background:#f4f4f2;border-radius:3px;position:relative;}
div.inf_wrap p{font-size:18px;font-weight:bold}
div.inf_wrap_box{padding:20px 30px;height:280px;background:#f4f4f2;border-radius:3px;position:relative;}

p.last_msg{text-align:center;}
p.sysdate{text-align:right; padding-right:200px;}
p.sign{text-align:right;padding-right:200px;}

.btn_wrap input.modifyBtn{width:80px;height:40px;line-height:40px;background:#14576F;border-radius:3px;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;text-indent:0;border:1px solid #ddd}
.btn_wrap input.deleteBtn{width:80px;height:40px;line-height:40px;background:#861E3F;border-radius:3px;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;text-indent:0;border:1px solid #ddd}
.inf_wrap_box_sign input.fileNm{width:40%;height:26px;border:1px solid #ddd;border-radius:3px;}
.inf_wrap_box_sign input.register{width:20%;height:26px;border:1px solid #ddd;border-radius:3px;}
.inf_wrap_box_sign input.singImage{width:80px;height:80px;border:1px solid #ddd;border-radius:3px;}


div.tab_menu section {display: none;padding:0px 0 0;}
div.tab_menu input{display: none;}
div.tab_menu label { isplay: inline-block; margin: 0 0 -1px;padding: 16px 78px; font-weight: 600;text-align: center;color: #bbb;border: 1px solid transparent;}
div.tab_menu label:hover {color: #2e9cdf; cursor: pointer;}
div.tab_menu input:checked + label {color: #555; border: 1px solid #ddd;border-top: 2px solid #2e9cdf;border-bottom: 1px solid #ffffff;}
div.tab_menu #tab1:checked ~ #content1,
div.tab_menu #tab2:checked ~ #content2,
div.tab_menu #tab3:checked ~ #content3,
div.tab_menu #tab4:checked ~ #content4,
div.tab_menu #tab5:checked ~ #content5 {display: block;margin-top:30px}

div.tab_menu_4 section {display: none;padding:0px 0 0;}
div.tab_menu_4 input{display: none;}
div.tab_menu_4 label { isplay: inline-block; margin: 0 0 -1px;padding: 16px 110px; font-weight: 600;text-align: center;color: #bbb;border: 1px solid transparent;}
div.tab_menu_4 label:hover {color: #2e9cdf; cursor: pointer;}
div.tab_menu_4 input:checked + label {color: #555; border: 1px solid #ddd;border-top: 2px solid #2e9cdf;border-bottom: 1px solid #ffffff;}
div.tab_menu_4 #tab1:checked ~ #content1,
div.tab_menu_4 #tab2:checked ~ #content2,
div.tab_menu_4 #tab3:checked ~ #content3,
div.tab_menu_4 #tab4:checked ~ #content4{display: block;margin-top:30px}



div .inputText{padding:10px 5px;background:#f4f4f2;border-radius:3px;position:relative;}
div .draft{width:100%;padding:10px 10px 10px 10px;border:1px solid #ddd;position:relative;border-radius:5px;margin-bottom:40px;align:center;}

div .input_wrap{position:relative;}

span.sub_txt{font-size:12px;font-weight:600}
textarea{resize:none}
select{width:100%;height:39px;line-height:39px;border:1px solid #ddd;border-radius:3px}
input:not([type=radio]){width:70%;height:39px;border:1px solid #ddd;border-radius:3px}
input.date{width:100%;height:39px;text-indent:10px;border:1px solid #ddd;border-radius:3px;text-align:center}
.submitBtn{height:40px!important;line-height:40px;min-width:120px;padding:0 10px;background-color:#010372;color:#fff;cursor:pointer}

.btn_wrap input.vacEdit_btn{width:80px;height:40px;line-height:40px;background:#ffce0b;border-radius:3px;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;text-indent:0;border:1px solid #ddd}
.btn_wrap input.vacDel_btn{width:80px;height:40px;line-height:40px;background:#ED1B00;border-radius:3px;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;text-indent:0;border:1px solid #ddd}

.btn_wrap input.expEdit_btn{width:80px;height:40px;line-height:40px;background:#ffce0b;border-radius:3px;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;text-indent:0;border:1px solid #ddd}
.btn_wrap input.expDel_btn{width:80px;height:40px;line-height:40px;background:#ED1B00;border-radius:3px;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;text-indent:0;border:1px solid #ddd}

 .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
 
.empTable th{
	text-align : center;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    background-color: #dbdbdb;
}
.empTable td{
	text-align : center;
	background-color: #efefef
}

.empTable .empId{
	background-color: #f4f4f2;;
	 font-weight: bold;
}

div .wrap{
	padding: 2px;
}

.approveTable th{
	text-align : center;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    background-color: #dbdbdb;
}
.approveTable td{
	text-align : center;
	background-color: #efefef;
}
.setNullBt{
	width:15px;height:15px;
	}
	
#canvas { border: 1px solid #000; }		

/* sign_pad관련 */ 


.m-signature-pad {
  position: absolute;
  font-size: 10px;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -200px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;
}

.m-signature-pad:before, .m-signature-pad:after {
	position: absolute;
	z-index: -1;
	content: "";
	width: 40%;
	height: 10px;
	left: 20px;
	bottom: 10px;
	background: transparent;
	-webkit-transform: skew(-3deg) rotate(-3deg);
	-moz-transform: skew(-3deg) rotate(-3deg);
	-ms-transform: skew(-3deg) rotate(-3deg);
	-o-transform: skew(-3deg) rotate(-3deg);
	transform: skew(-3deg) rotate(-3deg);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.m-signature-pad:after {
	left: auto;
	right: 20px;
	-webkit-transform: skew(3deg) rotate(3deg);
	-moz-transform: skew(3deg) rotate(3deg);
	-ms-transform: skew(3deg) rotate(3deg);
	-o-transform: skew(3deg) rotate(3deg);
	transform: skew(3deg) rotate(3deg);
}

.m-signature-pad--body {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 60px;
  border: 1px solid #f4f4f4;
}

.m-signature-pad--body
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }

.m-signature-pad--footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 40px;
}

.m-signature-pad--footer
  .description {
    color: #C3C3C3;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.8em;
  }

.m-signature-pad--footer
  .button {
    position: absolute;
    bottom: 0;
  }

.m-signature-pad--footer
  .button.clear {
    left: 0;
  }

.m-signature-pad--footer
  .button.save {
    right: 0;
  }

@media screen and (max-width: 1024px) {
  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 140px;
    margin: 5%;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .m-signature-pad {
    margin: 10%;
  }
}

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
  }
  .m-signature-pad--footer {
    left: 20px;
    right: 20px;
    bottom: 4px;
    height: 28px;
  }
  .m-signature-pad--footer
    .description {
      font-size: 1em;
      margin-top: 1em;
    }
}

/* sign_pad관련 */ 


		