
/* left bar 간격 조정 */
.cont_wrap{
    margin-left: 150px;
}
.container {
	max-width: 1170px;
	margin: auto;
}

img {
	max-width: 100%;
}

.inbox_people {
	background: #f8f8f8 none repeat  0 0;
	float: left;
	overflow: hidden;
	width: 40%;
	border-right: 1px solid #c4c4c4;
}

.inbox_msg {
	border: 1px solid #c4c4c4;
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
	padding:
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
	color: #05728f;
	font-size: 21px;
	margin: auto;
}

.srch_bar input {
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
	padding: 18px 16px 10px;
	cursor: pointer;
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 57%;
}

.mesgs {
	float: left;
	/*padding: 30px 15px 0 25px;*/
	width: 60%;
}

.sent_msg p {
	background: #05728f none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	background-image: url("/resources/img/message/iconfinder_circle.png");
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 32px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 32px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 516px;
	overflow-y: auto;
}

/* 사용자 보기, 채팅방 나가기 드랍 메뉴 박스 */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  left: -40px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* 메신저 방 만들기 emp 리스트 */
.add-message-room-emp-list{
	margin-top: 20px;
	margin-bottom : 20px;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
}

/* 메신저 방 만들기 emp 리스트 각 하나의 요소 */
.add-message-room-emp{
	border-bottom : 1px solid #FAFAFA;
	cursor: pointer;
}

/* 메신저 방 초대 리스트 */
.invite-message-room-emp-list{
	margin-top: 20px;
	margin-bottom : 20px;
    width: 300px;
    height: 200px; 
    overflow-y: scroll;
    overflow-x:hidden;
}

/* 메신저 방 초대 리스트 각 하나의 요소 */
.invite-message-room-emp{
	border-bottom : 1px solid #FAFAFA;
	cursor: pointer;
}

/* 메신저 방만들기 초대 이미지 */
.invite-message-chat-img{
	width:13%;
	display: inline-block;
}

/* 메신저 방만들기 emp 이름 */
.invite-message-emp-name{
	display : inline-block;
	margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.message-room-emp-list-name{
	border-bottom : 1px solid #FAFAFA;
	margin-left : 10px;
	margin-bottom : 10px;
	display:inline-block;
}

.message-room-emp-list-img{
	width:10%;
	display: inline-block;
}

/* 메신저 방 만들기에서 초대할 emp 클릭 시 배경색 변경*/
.invite-message-room-emp-list .checked{
	background-color: #FAFAFA;  	
}

/* 메신저 방 만들기에서 초대할 emp 클릭 시 배경색 변경*/
.add-message-room-emp-list .checked{
	background-color: #FAFAFA;  	
}

/* 메시지 방 선택 시 배경색 변경*/
.inbox_chat .checked{
	background-color: #F6CED8;  
}

/* 메신저 방만들기 초대 이미지 */
.add-message-chat-img{
	width:13%;
	display: inline-block;
}

/* 메신저 방만들기 emp 이름 */
.add-message-emp-name{
	display : inline-block;
	margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* 메시지 방 타이틀 */
.message-room-top-title {
	background-color: #97ece4;
    height:70px;
}

/* 메시지 방 타이틀 more */
.message-room-top-more{
	display:inline-block;
	float:right;
	width : 32px;
	height : 32px;	
	cursor: pointer;
}

/* 나갔다는 메시지 */
.message-room-exit-message{
	width: 100%;
	height: 30px;
	text-align:center;
	background-color: #ddd;
	margin-top : 10px;
	margin-bottom : 10px;
}
