/* project.jsp 에서 사용하는 css */


/* dragme.css */
.connected, .sortable, .exclude, .handles, .dropme {
  margin: auto;
  padding: 0;
  width: 300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropme.grid { overflow: hidden; }

.connected li, .sortable li, .exclude li, .handles li, .dropme li, li_common_style li {
  list-style: none;
  border-left : 1px solid #CCC;
  border-right : 1px solid #CCC;
  border-bottom : 1px solid #CCC;
 
  color: black;
  
  margin-left: 10px;
  margin-right: 10px;
  
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;

/*  height: 35px;*/
}

.fl { float: left; }

.handles span { cursor: move; }

/*li.disabled { opacity: 0.5; }*/

.dropme.grid li {
  line-height: 80px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
}


li.drop-replacer {
  border:none;
  background: #ddd;
}

.dragIcon {
  display: inline-block;
  background: url(../resources/drag-icon.png) no-repeat 0 0;
  vertical-align: top;
  overflow: hidden;
  width: 56px;
  height: 56px;
  margin-top: 20px
}
}


/* defualt.css */
/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

/*body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}*/


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}*/

/*a {
    text-decoration: none;
}

a:hover {
    color: #000;
}*/

.container {
    position: relative;
    margin-top: 6em;
}

.container > header,
.main section > div {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 2.875em 1.875em 1.875em;
    text-align: center;
}

.container > header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    float: left;
    font-weight: 400;
    width: 100%;
}

.container > header > span {
    display: block;
    position: relative;
    z-index: 9999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
    width: 30px;
    height: 30px;
    left: -12px;
    font-size: 50%;
    top: -8px;
    font-size: 75%;
    position: relative;
}

.container > header > span span:hover:before {
    content: attr(data-content);
    text-transform: none;
    text-indent: 0;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 110%;
    padding: 0.8em 1em;
    line-height: 1.2;
    text-align: left;
    left: auto;
    margin-left: 4px;
    position: absolute;
    color: #fff;
    background: #47a3da;
}

.container > header nav {
    float: right;
    text-align: center;
}

.container > header nav a {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
    margin: 0 0.1em;
    border: 4px solid #47a3da;
}

.container > header nav a > span {
    display: none;
}

.container > header nav a:hover:before {
    content: attr(data-info);
    color: #47a3da;
    position: absolute;
    width: 600%;
    top: 120%;
    text-align: right;
    right: 0;
    pointer-events: none;
}

.container > header nav a:hover {
    background: #47a3da;
}

.bp-icon:after {
    font-family: 'bpicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    color: #47a3da;
    -webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-indent: 0;
}

.container > header nav a:hover:after {
    color: #fff;
}

.bp-icon-next:after {
    content: "\e000";
}

.bp-icon-drop:after {
    content: "\e001";
}

.bp-icon-archive:after {
    content: "\e002";
}

.bp-icon-about:after {
    content: "\e003";
}

.bp-icon-prev:after {
    content: "\e004";
}

.main > section:nth-child(even) {
    background: #87cef8;
    color: #fff;
}

.main section:first-child > div {
    padding-top: 0em;
}

.main section p {
    margin: 0;
    padding: 1em 0;
    font-size: 1.8em;
    line-height: 1.5;
}

@media screen and (max-width: 55em) {
    .container > header h1,
    .container > header nav {
        float: none;
    }
    .container > header > span,
    .container > header h1 {
        text-align: center;
    }
    .container > header nav {
        margin: 0 auto;
    }
    .container > header > span {
        text-indent: 30px;
    }
    .main section p {
        padding: 2em 5%;
        font-size: 1.4em;
    }
    .dlogo{width: 25px;height: 25px}
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 25px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(9, 114, 118, 1);
    z-index: 10000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
    padding: 0 1em;
    margin: 0 auto;
}

.cbp-af-header h1,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}


/* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */

.cbp-af-header h1,
.cbp-af-header nav a {
    line-height: 100px;
}

.cbp-af-header h1 {
    /*text-transform: uppercase;*/
    color: #fff;
    letter-spacing: 4px;
    font-size: 2em;
    margin: 0;
    float: left;
}

.cbp-af-header nav {
    float: right;
}

.cbp-af-header nav a {
    color: #E4E4E4;
    font-weight: 700;
    margin: 0 0 0 20px;
    font-size: 1.4em;
}

.cbp-af-header nav a:hover {
    color: #25E7D7;
}


/* Transitions and class for reduced height */

.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
    height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
}


/* Example Media Queries */

@media screen and (max-width: 55em) {
    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }
    .cbp-af-header h1,
    .cbp-af-header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    .cbp-af-header h1,
    .cbp-af-header nav a {
        line-height: 50px;
        font-size: 1.5em
    }
    .cbp-af-header nav a {
        margin: 0 10px;
    }
    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 45px;
    }
    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }
    .cbp-af-header.cbp-af-header-shrink nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 32.25em) {
    .cbp-af-header nav a {
        font-size: 1em;
    }
    .cbp-af-header h1 {
        font-size: 1.2em
    }
    .dlogo{width: 20px;height: 20px}
}

@media screen and (max-width: 24em) {
    .cbp-af-header nav a,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 1;
    }
    .cbp-af-header h1 {
        font-size: 0.9em
    }
    .dlogo{width: 22px;height: 22px}
}

.navIcon {
    background: url('../i/top-tray3.png') no-repeat;
    background-position: -288px -7px;
    width: 18px;
    height: 15px;
    border: 0;
    display: inline-block;
    position: fixed;
    left: 5px;
}

.txtCntr {
    text-align: center;
}

.col-lg-6 {
    box-shadow: 0px 0px 8px #DDD9D9;
    padding: 10px 20px 20px 20px;
    margin-top: 30px;
    margin: 0 auto;
    display: none;
    float: none;
    min-height: 500px
}

.col-lg-6 h3 {
    margin: 30px 0 10px 0
}

.container-fluid {
    padding-left: 25px
}

.clr {
    clear: both;
    height: 1px;
}

.w50prc {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}

.mt10 {
    margin-top: 10px
}

.mb10 {
    margin-bottom: 10px
}

.ofHd {
    overflow: hidden
}

ul {
    padding: 0
}
footer{margin-top: 30px; text-align: center; color: #333}


/* category와 관련있음 */
.fl { float: left; }

.handles span { cursor: move; }

/*li.highlight { background: #FEE25F; }*/

.connected {
  float: left;
}

/* 모달창 */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* 일정 태그 */
.tag-important { 
  color: #FFFFFF; 
  background-color: #ff577f; 
  border-color: #ffc4e9; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:75px;
  
} 

.tag-approve { 
  color: #FFFFFF; 
  background-color: #24d1b7; 
  border-color: #c9fffd; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:75px;
  
} 

.tag-quickly { 
  color: #FFFFFF; 
  background-color: #154cc3; 
  border-color: #787cf0; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:75px;
  
  
} 

.tag-request { 
  color: #FFFFFF; 
  background-color: #ffe15c; 
  border-color: #ffd9bd;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:75px;
  
} 

/* 일정 추가 완료도 프로그래스바 예제 */
.add-calender-slidecontainer {
  width: 50%;
}

.add-calender-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.add-calender-slider:hover {
  opacity: 1;
}

.add-calender-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0049A3;
  cursor: pointer;
}

.add-calender-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0049A3;
  cursor: pointer;
}


/* 일정 수정 진행상황% 프로그래스바 예제 */
.edit-calender-slidecontainer {
  width: 50%;
}

.edit-calender-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.edit-calender-slider:hover {
  opacity: 1;
}

.edit-calender-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0049A3;
  cursor: pointer;
}

.edit-calender-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0049A3;
  cursor: pointer;
}

/* 카테고리 박스 */
.calender_info{
	background-color: #0049A3;
}

/* 카테고리 입력 박스 */
.category-name-input{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #0085F9;
  color: white;
  display:inline-block;
  float:left;
}
 /* 새 카테고리 입력 박스 */
 .add-category-name-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #0085F9;
  color: white;
  display:inline-block;
  float:left;
}
/* 카테고리 삭제 버튼 */
.calenderDeleteBtn{
	width:5%;
	padding: 12px 20px;
 	margin: 8px 0;
	display:inline-block;
	float:right;	
}

/* 카테고리 입력 박스 readonly일 때 */
.calender_info input:read-only{
	cursor: pointer;
    background-color: #0049A3;
}

.con {margin:0 auto;position:absolute; top: 80px; left: 200px; max-width: none !important; width: 150%;}

/* 프로젝트 리스트 박스 스타일 */
.project-info-style{
    display:inline;
    float:left;
    background-color:#002351;
     margin: 10px;
     padding:20px;
     width:250px;
     height:130px;
     border-radius: 20px;
     cursor:pointer;
     z-index : 1;
     color:#fff;
}


/* 프로젝트 리스트 박스 안의 title 스타일*/
.project-title{
    display:inline-block;
      float:left;
      
}
/* 프로젝트 버튼 안의 setting, delete 스타일*/
.project-setting{
    display:inline-block;
    float:right;
    cursor:pointer;
    z-index : 2;
}

/* 진행률 프로그래스 바 */
.calender-progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  
  margin-top:10px;
  margin-bottom:10px;
  
}

/* 일정 설정 버튼*/
.calender-modify-btn{
	cursor:pointer;
	margin: 5px;
    padding: 5px;
    display:inline-block;
    	
	width: 30px;
	height: 30px;
    float: right;
}

/* 진행률 */
.calender-percent {
  height: 20px;
  background-color:#0049A3;
  margin-top:10px;
  margin-bottom:10px;
  
}

/* 일정 칼라 */
.calender-detail-color{
	margin-left :-15px;
	margin-right :-15px;
	margin-bottom : 5px;
	
	height:15px;
}

/* 일정 시작 날짜 */
.calender_detail_startDt{
	font-size:14px;
	color:#6E6E6E;
}

/* 일정 종료 날짜 */
.calender_detail_endDt{
	font-size:14px;
	color:#6E6E6E;
}

.rounded {
  background: silver;
  height: 50px; width: 200px;
  border-radius: 5px;
}

/* 카테고리 삭제 버튼 */
.category-delete-btn{
	margin-top: 20px;
	margin-left: 3px;
	
	width: 20px;
	height: 20px;
	cursor:pointer;
}

/* left 메뉴 z index 수정 */
.left_wrap{
	z-index: 1;
}

/* left bar 간격 조정*/
/* .cont_wrap{
	margin-left: 150px;
} */

/* 작업자 리스트 */
.add-calender-emp-lists{
	display: inline-block;
}

/* 작업자, 작업자 아닌 유저 */
.claender-emp-list{
	display: inline-block;
	float:left;
	width:150px;
	height: 300px;
    overflow-y: scroll;
    overflow-x:hidden;
    border-bottom : 1px solid #FAFAFA;
	cursor: pointer;
	margin-right:50px;
}

.calender-member-invite-list-img img{
	width:30%;
    display: inline-block;
}

.calender-member-invite-list-name{
       border-bottom : 1px solid #FAFAFA;
       margin-left : 10px;
       margin-bottom : 10px;
       display:inline-block;
}

/* 멤버 이름 테두리 */
.calender-member-info{
	display:inline-block;
	border:1px solid #1bf;
	padding:2px;
    border-radius: 20px;
    font-size:10px;
}

/* 멤버 타이틀 */
.calender_detail_title{
	margin-top:20px;
	margin-bottom:10px;
}
